/* Feel free to change any of the styling below!*/
body {
    text-align: center;

}

img {
    width: 350px;
}

.title {
    font-size: 50px;
    font-weight: 800;
}

.buttons {
    display: flex;
    justify-content: center;

}

p {
    font-size: 30px;
    font-weight: 800;
}


button {
    height: 40px;
}


h1 {
    font-size: 50px;
    color: black;
}





 
.option-one-screen
{
   display:none;
}

.option-one-hole
{
 display:none;
}

.option-one-toilet
{
display:none;
}


.option-two-end
{
   display:none;
}

.optionhi{
  display:none;
}

.optionmove{
  display:none;
}


.restart
{
  display:none;
}